Repository Azure/secrets-store-csi-driver-provider-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

.pipelines/e2e-job-azure.yaml:

trigger: none

pr:
  branches:
    include:
    - master
    - release-*
  paths:
    exclude:
      - docs/*
      - website/*

pool: staging-pool

jobs:
  - template: templates/e2e-test-azure.yaml
    parameters:
      osTypes:
      - "linux"
      - "windows_docker"
      - "windows_containerd"
  # this will ensure any changes to provider works on arc extension too.
  - template: templates/arc/e2e-extension-test.yaml

azure-pipelines.yml:

trigger: none

pr:
  branches:
    include:
      - master
      - release-*
  paths:
    exclude:
      - docs/*
      - website/*
      - README.md

pool: staging-pool

jobs:
  # - template: .pipelines/templates/unit-test.yaml
  # - template: .pipelines/templates/e2e-test-kind.yaml
  - template: .pipelines/templates/arc/e2e-extension-test.yaml

docs: add video demo for workload identity + AKV (#1074)
  website/content/en/demos/community-demos-and-presentations/houssem-dellai-workload-identity.md
Due: none

deploy: a9fd76fc20f27ecfa6b2abda093f6f412a392583
  docs/404.html
  docs/configurations/custom-environments/index.html
  docs/configurations/deploy-in-openshift/index.html
  docs/configurations/enable-auto-rotation-secrets/index.html
  docs/configurations/feature-flags/index.html
  docs/configurations/getting-certs-and-keys/index.html
  docs/configurations/identity-access-modes/index.html
  docs/configurations/identity-access-modes/pod-identity-mode/index.html
  docs/configurations/identity-access-modes/service-principal-mode/index.html
  docs/configurations/identity-access-modes/system-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/user-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/workload-identity-mode/index.html
  docs/configurations/index.html
  docs/configurations/ingress-tls/index.html
  docs/configurations/metrics/index.html
  docs/configurations/set-env-var/index.html
  docs/configurations/sync-multiple-versions/index.html
  docs/configurations/sync-with-k8s-secrets/index.html
  docs/contribution-guidelines/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai-workload-identity/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai/index.html
  docs/demos/community-demos-and-presentations/index.html
  docs/demos/community-demos-and-presentations/index.xml
  docs/demos/community-demos-and-presentations/nilesh-gule/index.html
  docs/demos/index.html
  docs/demos/standard-walkthrough/index.html
  docs/getting-started/index.html
  docs/getting-started/installation/index.html
  docs/getting-started/usage/index.html
  docs/index.html
  docs/offline-search-index.7d3de3fd0650561005618aa1d86e3800.json
  docs/offline-search-index.d26ea5c615dfbf42149c03af1881e6de.json
  docs/sitemap.xml
  docs/support/index.html
  docs/troubleshooting/index.html
  docs/upgrading/index.html
Due: none

ci: pin k8s-extension version to `1.3.5`
  .pipelines/templates/arc/setup.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

ci: pin k8s-extension version to `1.3.5` (#1077)
  .pipelines/templates/arc/setup.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

feat: migrate from `autorest/adal` to `azidentity`
  go.mod
  go.sum
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/provider/provider_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

test: use `registry.k8s.io/e2e-test-images/busybox:1.29-4` for e2e
  docs/sample/ingress-controller-tls/deployment-app-one.yaml
  docs/sample/ingress-controller-tls/deployment-app-two.yaml
  examples/pod-identity/pod-inline-volume-pod-identity.yaml
  examples/service-principal/pod-inline-volume-service-principal.yaml
  examples/sync-as-kubernetes-secret/deployment-synck8s.yaml
  examples/system-assigned-managed-identity/pod-inline-volume-system-assigned-identity.yaml
  examples/user-assigned-managed-identity/pod-inline-volume-user-assigned-identity.yaml
  test/e2e/framework/pod/pod.go
  website/content/en/configurations/identity-access-modes/pod-identity-mode.md
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
  website/content/en/configurations/identity-access-modes/system-assigned-msi-mode.md
  website/content/en/configurations/identity-access-modes/user-assigned-msi-mode.md
  website/content/en/configurations/identity-access-modes/workload-identity-mode.md
  website/content/en/configurations/set-env-var.md
  website/content/en/configurations/sync-multiple-versions.md
  website/content/en/configurations/sync-with-k8s-secrets.md
  website/content/en/demos/standard-walkthrough/_index.md
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

test: use `registry.k8s.io/e2e-test-images/busybox:1.29-4` for e2e (#1079)
  docs/sample/ingress-controller-tls/deployment-app-one.yaml
  docs/sample/ingress-controller-tls/deployment-app-two.yaml
  examples/pod-identity/pod-inline-volume-pod-identity.yaml
  examples/service-principal/pod-inline-volume-service-principal.yaml
  examples/sync-as-kubernetes-secret/deployment-synck8s.yaml
  examples/system-assigned-managed-identity/pod-inline-volume-system-assigned-identity.yaml
  examples/user-assigned-managed-identity/pod-inline-volume-user-assigned-identity.yaml
  test/e2e/framework/pod/pod.go
  website/content/en/configurations/identity-access-modes/pod-identity-mode.md
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
  website/content/en/configurations/identity-access-modes/system-assigned-msi-mode.md
  website/content/en/configurations/identity-access-modes/user-assigned-msi-mode.md
  website/content/en/configurations/identity-access-modes/workload-identity-mode.md
  website/content/en/configurations/set-env-var.md
  website/content/en/configurations/sync-multiple-versions.md
  website/content/en/configurations/sync-with-k8s-secrets.md
  website/content/en/demos/standard-walkthrough/_index.md
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

deploy: 7b6caa6d193870987d26c74e753564c80eaec7ae
  docs/404.html
  docs/configurations/custom-environments/index.html
  docs/configurations/deploy-in-openshift/index.html
  docs/configurations/enable-auto-rotation-secrets/index.html
  docs/configurations/feature-flags/index.html
  docs/configurations/getting-certs-and-keys/index.html
  docs/configurations/identity-access-modes/index.html
  docs/configurations/identity-access-modes/index.xml
  docs/configurations/identity-access-modes/pod-identity-mode/index.html
  docs/configurations/identity-access-modes/service-principal-mode/index.html
  docs/configurations/identity-access-modes/system-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/user-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/workload-identity-mode/index.html
  docs/configurations/index.html
  docs/configurations/ingress-tls/index.html
  docs/configurations/metrics/index.html
  docs/configurations/set-env-var/index.html
  docs/configurations/sync-multiple-versions/index.html
  docs/configurations/sync-with-k8s-secrets/index.html
  docs/contribution-guidelines/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai-workload-identity/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai/index.html
  docs/demos/community-demos-and-presentations/index.html
  docs/demos/community-demos-and-presentations/nilesh-gule/index.html
  docs/demos/index.html
  docs/demos/standard-walkthrough/index.html
  docs/getting-started/index.html
  docs/getting-started/installation/index.html
  docs/getting-started/usage/index.html
  docs/index.html
  docs/offline-search-index.3fba7ee06939915e34b93ef668ed1471.json
  docs/offline-search-index.d26ea5c615dfbf42149c03af1881e6de.json
  docs/sitemap.xml
  docs/support/index.html
  docs/troubleshooting/index.html
  docs/upgrading/index.html
Due: none

feat: migrate from `autorest/adal` to `azidentity` (#1028)
  go.mod
  go.sum
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/provider/provider_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: use base and test image from `registry.k8s.io`
  arc/conformance/plugin/Dockerfile
  test/load/deployment-template.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: use base and test image from `registry.k8s.io` (#1082)
  arc/conformance/plugin/Dockerfile
  test/load/deployment-template.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: remove kubernetes version 1.23 (EOL)
  .pipelines/templates/e2e-test-kind.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: remove kubernetes version 1.23 (EOL) (#1089)
  .pipelines/templates/e2e-test-kind.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: updates Arc monitoring resources
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/arc-monitoring.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: updates Arc monitoring resources (#1090)
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/arc-monitoring.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: adds links for manages offerings
  README.md
  website/content/en/_index.md
Due: .pipelines/e2e-job-azure.yaml

docs: adds links for manages offerings (#1094)
  README.md
  website/content/en/_index.md
Due: .pipelines/e2e-job-azure.yaml

deploy: 4e49d861460597592ff2b0563135d1b99ff8f724
  docs/404.html
  docs/configurations/custom-environments/index.html
  docs/configurations/deploy-in-openshift/index.html
  docs/configurations/enable-auto-rotation-secrets/index.html
  docs/configurations/feature-flags/index.html
  docs/configurations/getting-certs-and-keys/index.html
  docs/configurations/identity-access-modes/index.html
  docs/configurations/identity-access-modes/pod-identity-mode/index.html
  docs/configurations/identity-access-modes/service-principal-mode/index.html
  docs/configurations/identity-access-modes/system-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/user-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/workload-identity-mode/index.html
  docs/configurations/index.html
  docs/configurations/ingress-tls/index.html
  docs/configurations/metrics/index.html
  docs/configurations/set-env-var/index.html
  docs/configurations/sync-multiple-versions/index.html
  docs/configurations/sync-with-k8s-secrets/index.html
  docs/contribution-guidelines/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai-workload-identity/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai/index.html
  docs/demos/community-demos-and-presentations/index.html
  docs/demos/community-demos-and-presentations/nilesh-gule/index.html
  docs/demos/index.html
  docs/demos/standard-walkthrough/index.html
  docs/getting-started/index.html
  docs/getting-started/installation/index.html
  docs/getting-started/usage/index.html
  docs/index.html
  docs/offline-search-index.3fba7ee06939915e34b93ef668ed1471.json
  docs/offline-search-index.88a1c3855d9884950cd97d69759c6e9b.json
  docs/sitemap.xml
  docs/support/index.html
  docs/troubleshooting/index.html
  docs/upgrading/index.html
Due: none

Publish csi-secrets-store-provider-azure-1.4.0.tgz
  charts/csi-secrets-store-provider-azure-1.4.0.tgz
  charts/index.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: updates msi-adapter image
  .pipelines/templates/arc/extension-create.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/arc-monitoring.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: updates msi-adapter image (#1103)
  .pipelines/templates/arc/extension-create.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/arc-monitoring.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.4.1
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/templates/arc-monitoring.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  docs/Release_Management.md
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.4.1 (#1105)
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/templates/arc-monitoring.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  docs/Release_Management.md
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Publish csi-secrets-store-provider-azure-1.4.1.tgz
  charts/csi-secrets-store-provider-azure-1.4.1.tgz
  charts/index.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: fix logging command
  website/content/en/troubleshooting/_index.md
Due: none

docs: fix logging command (#1107)
  website/content/en/troubleshooting/_index.md
Due: none

deploy: d3bc4c30cdc4d4109d1eac54d6d9231eb88081e6
  docs/404.html
  docs/configurations/custom-environments/index.html
  docs/configurations/deploy-in-openshift/index.html
  docs/configurations/enable-auto-rotation-secrets/index.html
  docs/configurations/feature-flags/index.html
  docs/configurations/getting-certs-and-keys/index.html
  docs/configurations/identity-access-modes/index.html
  docs/configurations/identity-access-modes/pod-identity-mode/index.html
  docs/configurations/identity-access-modes/service-principal-mode/index.html
  docs/configurations/identity-access-modes/system-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/user-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/workload-identity-mode/index.html
  docs/configurations/index.html
  docs/configurations/ingress-tls/index.html
  docs/configurations/metrics/index.html
  docs/configurations/set-env-var/index.html
  docs/configurations/sync-multiple-versions/index.html
  docs/configurations/sync-with-k8s-secrets/index.html
  docs/contribution-guidelines/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai-workload-identity/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai/index.html
  docs/demos/community-demos-and-presentations/index.html
  docs/demos/community-demos-and-presentations/nilesh-gule/index.html
  docs/demos/index.html
  docs/demos/standard-walkthrough/index.html
  docs/getting-started/index.html
  docs/getting-started/installation/index.html
  docs/getting-started/usage/index.html
  docs/index.html
  docs/offline-search-index.88a1c3855d9884950cd97d69759c6e9b.json
  docs/offline-search-index.f5deb544d1903e07e32c2da01a8fe69c.json
  docs/sitemap.xml
  docs/support/index.html
  docs/troubleshooting/index.html
  docs/upgrading/index.html
Due: none

feat: adds outbound proxy variable support for windows pod
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

feat: adds outbound proxy variable support for windows pod (#1106)
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Automated cherry pick of #1083: chore: bump golang.org/x/net from 0.5.0 to 0.7.0 in /test/e2e#1084: chore: bump golang.org/x/net from 0.5.0 to 0.7.0 (#1111)
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.4.1
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  website/content/en/_index.md
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: use base and test image from `registry.k8s.io` (#1110)
  arc/conformance/plugin/Dockerfile
  test/load/deployment-template.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: pin buildx to `v0.10.6`
  Makefile
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Automated cherry pick of #1112: release: update manifest and helm charts for v1.4.1 (#1113)
  .pipelines/templates/arc/setup.yaml
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  website/content/en/_index.md
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml
