Repository Azure/secrets-store-csi-driver-provider-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

.pipelines/e2e-job-azure.yaml:

trigger: none

pr:
  branches:
    include:
    - master
  paths:
    exclude:
      - docs/*

pool:
  vmImage: ubuntu-latest

jobs:
  - template: templates/e2e-test-azure.yaml
    parameters:
      clusterTypes:
      - "aks"
      - "aks-engine"
      osTypes:
      - "linux"
      - "windows"

azure-pipelines.yml:

trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - docs/*
      - website/*

pool:
  vmImage: ubuntu-latest

jobs:
  - template: .pipelines/templates/unit-test.yaml
  - template: .pipelines/templates/e2e-test-kind.yaml
    parameters:
      driverWriteSecrets:
        - "true"
        - "false"

fix: check if result bundle not nil before dereferencing (#533)
  pkg/provider/provider.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Clarity about Service Principal for non-Azure env
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
  website/content/en/getting-started/usage/_index.md
Due: .pipelines/e2e-job-azure.yaml

chore: bump version to 0.0.16
  Makefile
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

updated to make it a note
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
Due: .pipelines/e2e-job-azure.yaml

removed redundancy and fixed note
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
Due: .pipelines/e2e-job-azure.yaml

Add clarity about Service Principal being the only Identity Access Mode allowed for non Azure environments (#534)
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
  website/content/en/getting-started/usage/_index.md
Due: .pipelines/e2e-job-azure.yaml

deploy: 1f68bf9dc46fc78bb04700868d37293c2d26e75c
  404.html
  configurations/custom-environments/index.html
  configurations/deploy-in-openshift/index.html
  configurations/enable-auto-rotation-secrets/index.html
  configurations/feature-flags/index.html
  configurations/getting-certs-and-keys/index.html
  configurations/identity-access-modes/index.html
  configurations/identity-access-modes/index.xml
  configurations/identity-access-modes/pod-identity-mode/index.html
  configurations/identity-access-modes/service-principal-mode/index.html
  configurations/identity-access-modes/system-assigned-msi-mode/index.html
  configurations/identity-access-modes/user-assigned-msi-mode/index.html
  configurations/index.html
  configurations/ingress-tls/index.html
  configurations/set-env-var/index.html
  configurations/sync-with-k8s-secrets/index.html
  contribution-guidelines/index.html
  demos/community-demos-and-presentations/houssem-dellai/index.html
  demos/community-demos-and-presentations/index.html
  demos/community-demos-and-presentations/nilesh-gule/index.html
  demos/index.html
  demos/standard-walkthrough/index.html
  getting-started/index.html
  getting-started/installation/index.html
  getting-started/usage/index.html
  index.html
  offline-search-index.7049de819b27e5e56141946da4ab8290.json
  offline-search-index.7c40669dddd4072941248ae7a1e561ea.json
  sitemap.xml
  support/index.html
  troubleshooting/index.html
  upgrading/index.html
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: bump version to 0.0.16 (#535)
  Makefile
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for 0.0.16
  charts/csi-secrets-store-provider-azure-0.0.20.tgz
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/requirements.lock
  charts/csi-secrets-store-provider-azure/requirements.yaml
  charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  charts/index.yaml
  deployment/pod-security-policy.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/requirements.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/requirements.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/helm/helm.go
  website/content/en/upgrading/_index.md
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for 0.0.16 (#536)
  charts/csi-secrets-store-provider-azure-0.0.20.tgz
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/requirements.lock
  charts/csi-secrets-store-provider-azure/requirements.yaml
  charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  charts/index.yaml
  deployment/pod-security-policy.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/requirements.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/requirements.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/helm/helm.go
  website/content/en/upgrading/_index.md
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

deploy: 21fe08c62b1ea1ca5b6f265cf7d21c7a2d8f761d
  404.html
  configurations/custom-environments/index.html
  configurations/deploy-in-openshift/index.html
  configurations/enable-auto-rotation-secrets/index.html
  configurations/feature-flags/index.html
  configurations/getting-certs-and-keys/index.html
  configurations/identity-access-modes/index.html
  configurations/identity-access-modes/pod-identity-mode/index.html
  configurations/identity-access-modes/service-principal-mode/index.html
  configurations/identity-access-modes/system-assigned-msi-mode/index.html
  configurations/identity-access-modes/user-assigned-msi-mode/index.html
  configurations/index.html
  configurations/ingress-tls/index.html
  configurations/set-env-var/index.html
  configurations/sync-with-k8s-secrets/index.html
  contribution-guidelines/index.html
  demos/community-demos-and-presentations/houssem-dellai/index.html
  demos/community-demos-and-presentations/index.html
  demos/community-demos-and-presentations/nilesh-gule/index.html
  demos/index.html
  demos/standard-walkthrough/index.html
  getting-started/index.html
  getting-started/installation/index.html
  getting-started/usage/index.html
  index.html
  offline-search-index.7049de819b27e5e56141946da4ab8290.json
  offline-search-index.857fd408d8fc1a78bc39391a02e966ad.json
  sitemap.xml
  support/index.html
  troubleshooting/index.html
  upgrading/index.html
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

fix: add syncSecret.enabled=true in helm install for load test
  .pipelines/templates/load-test.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

fix: add syncSecret.enabled=true in helm install for load test (#538)
  .pipelines/templates/load-test.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: default driver-write-secrets to true
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  pkg/provider/provider.go
  test/e2e/framework/config.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: default driver-write-secrets to true (#541)
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  pkg/provider/provider.go
  test/e2e/framework/config.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: add note for syncSecret.enabled=true
  website/content/en/configurations/set-env-var.md
  website/content/en/configurations/sync-with-k8s-secrets.md
  website/content/en/troubleshooting/_index.md
Due: .pipelines/e2e-job-azure.yaml

docs: add note for syncSecret.enabled=true (#543)
  website/content/en/configurations/set-env-var.md
  website/content/en/configurations/sync-with-k8s-secrets.md
  website/content/en/troubleshooting/_index.md
Due: .pipelines/e2e-job-azure.yaml

deploy: 8f79e914616f1a96f8b5777f7254243ef11f5335
  404.html
  configurations/custom-environments/index.html
  configurations/deploy-in-openshift/index.html
  configurations/enable-auto-rotation-secrets/index.html
  configurations/feature-flags/index.html
  configurations/getting-certs-and-keys/index.html
  configurations/identity-access-modes/index.html
  configurations/identity-access-modes/pod-identity-mode/index.html
  configurations/identity-access-modes/service-principal-mode/index.html
  configurations/identity-access-modes/system-assigned-msi-mode/index.html
  configurations/identity-access-modes/user-assigned-msi-mode/index.html
  configurations/index.html
  configurations/ingress-tls/index.html
  configurations/set-env-var/index.html
  configurations/sync-with-k8s-secrets/index.html
  contribution-guidelines/index.html
  demos/community-demos-and-presentations/houssem-dellai/index.html
  demos/community-demos-and-presentations/index.html
  demos/community-demos-and-presentations/nilesh-gule/index.html
  demos/index.html
  demos/standard-walkthrough/index.html
  getting-started/index.html
  getting-started/installation/index.html
  getting-started/usage/index.html
  index.html
  offline-search-index.72710904f61df9bd300afdde80fe5f92.json
  offline-search-index.857fd408d8fc1a78bc39391a02e966ad.json
  sitemap.xml
  support/index.html
  troubleshooting/index.html
  upgrading/index.html
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Added kubeletRootDir Made the changes to staging Revert "Added kubeletRootDir"
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Added kubeletRootDir (#539)
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer-windows.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: set allowPrivilegeEscalation to false
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: sets readOnlyRootFilesystem to true
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: set allowPrivilegeEscalation to false (#549)
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: log pod identity response for error
  pkg/auth/auth.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: log pod identity response for error (#554)
  pkg/auth/auth.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: set secrets-store-csi-driver.syncSecret.enabled for sync secret
  website/content/en/configurations/sync-with-k8s-secrets.md
  website/content/en/troubleshooting/_index.md
  website/content/en/upgrading/_index.md
Due: .pipelines/e2e-job-azure.yaml

docs: set secrets-store-csi-driver.syncSecret.enabled for sync secret (#555)
  website/content/en/configurations/sync-with-k8s-secrets.md
  website/content/en/troubleshooting/_index.md
  website/content/en/upgrading/_index.md
Due: .pipelines/e2e-job-azure.yaml

deploy: 0eec2625a22591ce656840a0a3498aaa4e90f8b3
  404.html
  configurations/custom-environments/index.html
  configurations/deploy-in-openshift/index.html
  configurations/enable-auto-rotation-secrets/index.html
  configurations/feature-flags/index.html
  configurations/getting-certs-and-keys/index.html
  configurations/identity-access-modes/index.html
  configurations/identity-access-modes/pod-identity-mode/index.html
  configurations/identity-access-modes/service-principal-mode/index.html
  configurations/identity-access-modes/system-assigned-msi-mode/index.html
  configurations/identity-access-modes/user-assigned-msi-mode/index.html
  configurations/index.html
  configurations/ingress-tls/index.html
  configurations/set-env-var/index.html
  configurations/sync-with-k8s-secrets/index.html
  contribution-guidelines/index.html
  demos/community-demos-and-presentations/houssem-dellai/index.html
  demos/community-demos-and-presentations/index.html
  demos/community-demos-and-presentations/nilesh-gule/index.html
  demos/index.html
  demos/standard-walkthrough/index.html
  getting-started/index.html
  getting-started/installation/index.html
  getting-started/usage/index.html
  index.html
  offline-search-index.72710904f61df9bd300afdde80fe5f92.json
  offline-search-index.e8e451ce0c56899ef8be508368ee6fdd.json
  sitemap.xml
  support/index.html
  troubleshooting/index.html
  upgrading/index.html
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: adds release management doc
  docs/Release_Management.md
Due: none

docs: add nodepublishsecretref namespace limitation
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
Due: .pipelines/e2e-job-azure.yaml

docs: add nodepublishsecretref namespace limitation (#559)
  website/content/en/configurations/identity-access-modes/service-principal-mode.md
Due: .pipelines/e2e-job-azure.yaml

deploy: 45024b80be6d2d6f21b04a211d6e7087be975653
  404.html
  configurations/custom-environments/index.html
  configurations/deploy-in-openshift/index.html
  configurations/enable-auto-rotation-secrets/index.html
  configurations/feature-flags/index.html
  configurations/getting-certs-and-keys/index.html
  configurations/identity-access-modes/index.html
  configurations/identity-access-modes/index.xml
  configurations/identity-access-modes/pod-identity-mode/index.html
  configurations/identity-access-modes/service-principal-mode/index.html
  configurations/identity-access-modes/system-assigned-msi-mode/index.html
  configurations/identity-access-modes/user-assigned-msi-mode/index.html
  configurations/index.html
  configurations/ingress-tls/index.html
  configurations/set-env-var/index.html
  configurations/sync-with-k8s-secrets/index.html
  contribution-guidelines/index.html
  demos/community-demos-and-presentations/houssem-dellai/index.html
  demos/community-demos-and-presentations/index.html
  demos/community-demos-and-presentations/nilesh-gule/index.html
  demos/index.html
  demos/standard-walkthrough/index.html
  getting-started/index.html
  getting-started/installation/index.html
  getting-started/usage/index.html
  index.html
  offline-search-index.dc23a28bdaad9c1423f4d641f4fa12aa.json
  offline-search-index.e8e451ce0c56899ef8be508368ee6fdd.json
  sitemap.xml
  support/index.html
  troubleshooting/index.html
  upgrading/index.html
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: updates doc
  docs/Release_Management.md
Due: none

docs: update doc
  docs/Release_Management.md
Due: none

docs: adds release management doc (#558)
  docs/Release_Management.md
Due: none

feat: adds e2e test for k8s secret sync
  test/e2e/secret_test.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

feat: adds e2e test for k8s secret sync (#560)
  test/e2e/secret_test.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: adds sample cmds to test AKV connectivity
  website/content/en/troubleshooting/_index.md
Due: .pipelines/e2e-job-azure.yaml

helm: fix security context privileged for linux
  manifest_staging/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

test: ping
  website/content/en/troubleshooting/_index.md
Due: .pipelines/e2e-job-azure.yaml
