Repository Azure/secrets-store-csi-driver-provider-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

.pipelines/e2e-job-azure.yaml:

trigger: none

pr:
  branches:
    include:
    - master
    - release-*
  paths:
    exclude:
      - docs/*
      - website/*
      - README.md

pool: staging-pool-amd64-mariner-2

jobs:
  - template: templates/e2e-test-azure.yaml
    parameters:
      osTypes:
      - "linux"
      - "windows_docker"
      - "windows_containerd"
  # this will ensure any changes to provider works on arc extension too.
  # xref: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/1382 for tracking
  # - template: templates/arc/e2e-extension-test.yaml

azure-pipelines.yml:

trigger: none

pr:
  branches:
    include:
      - master
      - release-*
  paths:
    exclude:
      - docs/*
      - website/*
      - README.md
      - .github/*

pool: staging-pool-amd64-mariner-2

jobs:
  - template: .pipelines/templates/unit-test.yaml
  - template: .pipelines/templates/e2e-test-kind.yaml

ci: use ubuntu-latest for gh workflows
  .github/workflows/chart.yaml
  .github/workflows/create-release.yaml
  .github/workflows/scan-vulns.yaml
  .github/workflows/website.yaml
Due: .pipelines/e2e-job-azure.yaml

ci: use ubuntu-latest for gh workflows (#1818)
  .github/workflows/chart.yaml
  .github/workflows/create-release.yaml
  .github/workflows/scan-vulns.yaml
  .github/workflows/website.yaml
Due: .pipelines/e2e-job-azure.yaml

ci: use ubuntu-latest for gh workflows (#1819)
  .github/workflows/chart.yaml
  .github/workflows/create-release.yaml
  .github/workflows/scan-vulns.yaml
  .github/workflows/website.yaml
Due: .pipelines/e2e-job-azure.yaml

release: update manifest and helm charts for v1.7.0
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Publish csi-secrets-store-provider-azure-1.6.1.tgz
  charts/csi-secrets-store-provider-azure-1.6.1.tgz
  charts/index.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

deploy: 76685917dadabc2a7b520573aa38b6890334ce04
  docs/404.html
  docs/configurations/custom-environments/index.html
  docs/configurations/deploy-in-openshift/index.html
  docs/configurations/enable-auto-rotation-secrets/index.html
  docs/configurations/feature-flags/index.html
  docs/configurations/getting-certs-and-keys/index.html
  docs/configurations/identity-access-modes/index.html
  docs/configurations/identity-access-modes/pod-identity-mode/index.html
  docs/configurations/identity-access-modes/service-principal-mode/index.html
  docs/configurations/identity-access-modes/system-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/user-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/workload-identity-mode/index.html
  docs/configurations/index.html
  docs/configurations/ingress-tls/index.html
  docs/configurations/metrics/index.html
  docs/configurations/set-env-var/index.html
  docs/configurations/sync-multiple-versions/index.html
  docs/configurations/sync-with-k8s-secrets/index.html
  docs/contribution-guidelines/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai-workload-identity/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai/index.html
  docs/demos/community-demos-and-presentations/index.html
  docs/demos/community-demos-and-presentations/nilesh-gule/index.html
  docs/demos/index.html
  docs/demos/standard-walkthrough/index.html
  docs/getting-started/index.html
  docs/getting-started/installation/index.html
  docs/getting-started/usage/index.html
  docs/index.html
  docs/support/index.html
  docs/troubleshooting/index.html
  docs/upgrading/index.html
Due: none

release: update manifest and helm charts for v1.7.0 (#1816)
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Publish csi-secrets-store-provider-azure-1.7.0.tgz
  charts/csi-secrets-store-provider-azure-1.7.0.tgz
  charts/index.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Fixed links to access mode pages
  website/content/en/getting-started/usage/_index.md
Due: none

chore: update to go 1.24.5
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.5
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.5 (#1879)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.5 (#1885)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.7.1
  .pipelines/templates/aks-setup.yaml
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.7.1 (#1888)
  .pipelines/templates/aks-setup.yaml
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.7.1 (#1887)
  .pipelines/templates/aks-setup.yaml
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

Publish csi-secrets-store-provider-azure-1.7.1.tgz
  charts/csi-secrets-store-provider-azure-1.7.1.tgz
  charts/index.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

docs: Fix undefined SERVICE_ACCOUNT_ISSUER variable in workload identity documentation (#1901)
  website/content/en/configurations/identity-access-modes/workload-identity-mode.md
Due: none

deploy: 2f1f52f53ca9b0aa203ae447e51cd71ccca91a38
  docs/404.html
  docs/configurations/custom-environments/index.html
  docs/configurations/deploy-in-openshift/index.html
  docs/configurations/enable-auto-rotation-secrets/index.html
  docs/configurations/feature-flags/index.html
  docs/configurations/getting-certs-and-keys/index.html
  docs/configurations/identity-access-modes/index.html
  docs/configurations/identity-access-modes/index.xml
  docs/configurations/identity-access-modes/pod-identity-mode/index.html
  docs/configurations/identity-access-modes/service-principal-mode/index.html
  docs/configurations/identity-access-modes/system-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/user-assigned-msi-mode/index.html
  docs/configurations/identity-access-modes/workload-identity-mode/index.html
  docs/configurations/index.html
  docs/configurations/ingress-tls/index.html
  docs/configurations/metrics/index.html
  docs/configurations/set-env-var/index.html
  docs/configurations/sync-multiple-versions/index.html
  docs/configurations/sync-with-k8s-secrets/index.html
  docs/contribution-guidelines/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai-workload-identity/index.html
  docs/demos/community-demos-and-presentations/houssem-dellai/index.html
  docs/demos/community-demos-and-presentations/index.html
  docs/demos/community-demos-and-presentations/nilesh-gule/index.html
  docs/demos/index.html
  docs/demos/standard-walkthrough/index.html
  docs/getting-started/index.html
  docs/getting-started/installation/index.html
  docs/getting-started/usage/index.html
  docs/index.html
  docs/offline-search-index.06f53b431ea1f0f4a924d3659367f5fb.json
  docs/offline-search-index.2228d04cbc192451d22f91d7a36c6191.json
  docs/sitemap.xml
  docs/support/index.html
  docs/troubleshooting/index.html
  docs/upgrading/index.html
Due: none

Bump Go version to 1.24.6
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  test/e2e/go.mod
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: use v2 images for node-driver-registrar and livenessprobe
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: use v2 images for node-driver-registrar and livenessprobe (#1922)
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.6 (#1921)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  test/e2e/go.mod
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.6 (#1926)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  test/e2e/go.mod
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.7
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  test/e2e/go.mod
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.7 (#1934)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  test/e2e/go.mod
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.7 (#1935)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  test/e2e/go.mod
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.9
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.9 (#1939)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

chore: update to go 1.24.9 (#1940)
  .pipelines/templates/e2e-test-azure.yaml
  .pipelines/templates/e2e-test-kind.yaml
  .pipelines/templates/unit-test.yaml
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
  tools/go.mod
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.7.2
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.7.2 (#1942)
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml

release: update manifest and helm charts for v1.7.2 (#1941)
  Makefile
  charts/csi-secrets-store-provider-azure/Chart.lock
  charts/csi-secrets-store-provider-azure/Chart.yaml
  charts/csi-secrets-store-provider-azure/README.md
  charts/csi-secrets-store-provider-azure/arc-values.yaml
  charts/csi-secrets-store-provider-azure/values.yaml
  deployment/provider-azure-installer-windows.yaml
  deployment/provider-azure-installer.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.lock
  manifest_staging/charts/csi-secrets-store-provider-azure/Chart.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/README.md
  manifest_staging/charts/csi-secrets-store-provider-azure/arc-values.yaml
  manifest_staging/charts/csi-secrets-store-provider-azure/values.yaml
  manifest_staging/deployment/provider-azure-installer-windows.yaml
  manifest_staging/deployment/provider-azure-installer.yaml
  test/e2e/framework/config.go
  test/e2e/framework/deploy/deploy.go
Due: .pipelines/e2e-job-azure.yaml, azure-pipelines.yml
